<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p><h4>Create a unique and beautiful blog easily.</h4></p>
            <p>Create a beautiful blog that fits your style. Choose from a selection of easy-to-use templates - all with flexible layouts and hundreds of background images – or design something new..</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>